*:not(dialog) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#reserva-sala,
#gerenciamento-reserva {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #D0E4F2;
  padding: 20px 6%;
  font-family: sans-serif;
  border-radius: 18px;
}

img {
  max-width: 75%;
  align-self: center;
}

h2 {
  text-align: center;
  font-size: 28px
}

.default-btn {
  background-color: #002B5B;
  color: #fff;
  border: 3px solid #35C2FF;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
  align-self: center;
}

.default-btn:hover,
.default-btn.active {
  background-color: #35C2FF;
  color: #00112b;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

table thead {
  background-color: #002B5B;
  color: #fff;
}

table th,
table td {
  border: 2px solid #000;
  padding: 8px;
}

#tabela-container {
  overflow-x: auto;
}

#gerenciamento-reserva table th,
#gerenciamento-reserva table td {
  white-space: nowrap;
}

#gerenciamento-reserva table td:last-child,
#gerenciamento-reserva table th:last-child {
  white-space: normal;
  max-width: 300px;
  word-wrap: break-word;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

input,
select {
  border: none;
  outline: none;
  font-size: 16px;
  color: #000;
}

#nome-completo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#nome-completo>div {
  display: flex;
  gap: 12px;
}

#data-hora,
#equipamentos {
  display: flex;
  gap: 20px;
}

#horarios {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  gap: 10px;
}

#horarios input {
  display: none;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-field {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 15px 3px rgba(0, 0, 0, 0.1);
  padding: 10px 5px;
  max-width: 275px;
}

.input-title {
  font-weight: bold;
}

.input-box textarea {
  border: none;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 15px 3px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

#input-telefone {
  max-width: 180px;
}

#input-data {
  max-width: 142px;
}

button[type="submit"] {
  align-self: center;
  width: 120px;
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.edit-btn {
  display: none;
  background-color: #002B5B;
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn.active {
  display: inline;
}

.input-field input {
  width: 100%;
}

.input-box .input-field:focus-within,
textarea:focus-within {
  outline: 2px solid #004AAD;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  color: #000;
}

@media screen and (min-width: 1200px) {
  #horarios label:hover {
    background-color: #35C2FF;
    color: #00112b;
  }
}

@media screen and (max-width: 720px) {
  #sistema-reserva img {
    max-width: 100%;
  }

  #data-hora,
  #equipamentos {
    flex-direction: column;
  }

  #tabela-container {
    overflow-x: auto;
  }

  #horarios {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 430px) {
  #horarios {
    grid-template-columns: repeat(2, 1fr);
  }
}